//! **************************************************************************
// Written by: Map P.20131013 on Sat May 18 18:26:18 2019
//! **************************************************************************

SCHEMATIC START;
COMP "o1" LOCATE = SITE "P78" LEVEL 1;
COMP "a" LOCATE = SITE "P76" LEVEL 1;
NET "b_BUFGP/IBUFG" BEL "b_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

