//! **************************************************************************
// Written by: Map P.20131013 on Wed Jul 03 15:54:19 2019
//! **************************************************************************

SCHEMATIC START;
COMP "out_ff" LOCATE = SITE "P102" LEVEL 1;
SCHEMATIC END;

